@font-face {
    font-family: Webdings;
    src: url(../fonts/webdings.ttf);
   }

body {
    padding: 0;
    margin: 0;
    font-size: 14px;
    line-height: 21px;
    color: #ffffff;
    max-width: 1900px;
    font-family: 'Raleway', sans-serif;
}

*{
    box-sizing: border-box;
  }

  section{
    display: block;
  }

  a{
    text-decoration: none;
  }

  .section {
    padding: 100px 0;
  }

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
    }
 
.clearfix:after {
    clear: both;
    }

header {
    background-image: url(../images/fs-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 750px;
    padding-top: 40px;
}

.container {
    margin: 0 auto;
    width: 1170px;
    padding-right: 15px;
    padding-left: 15px;
}

.logo {
    float: left;
    width: 190px;
}

nav {
    float: right;
}

nav a {
    float: left;
    text-decoration: none;
    color: #ffffff;
    margin-left: 60px;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
}

nav a:hover {
    color: #e84545;
}

.border-nav {
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    padding-bottom: 40px;
}

.call-to-action {
    text-align: center;
}

.call-to-action h1 {
    font-size: 65px;
    line-height: 71px;
    font-weight: 700;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    margin: 140px auto 45px auto;
    text-transform: uppercase;
    max-width: 907px;
}

.call-to-action p {
    font-size: 22px;
    line-height: 33px;
    text-align: center;
    margin: 0 auto;
    max-width: 915px;
}

.call-to-action .btn {
    font-size: 13px;
    font-weight: 600;
    padding: 15px 50px;
    background-color: #e84545;
    color: #ffffff;
    text-decoration: none;
    margin-top: 80px;
    border-radius: 2px;
    display: inline-block;
    text-transform: uppercase;
}

.call-to-action .btn:hover,
.download #btn:hover {
    background-color: #F12323;
}

.features-wrap {
    width: 100%;
    margin: 120px 0;
}

figure {
    margin: 0;
}

.features {
    float: left;
    margin-bottom: 80px;
    margin-right: 30px;
    max-width: 360px;
    text-align: center;
}

.features:nth-child(4),
.features:nth-child(5),
.features:nth-child(6){
    margin-bottom: 0;
}

.features:last-child, .features:nth-child(3) {
    margin-right: 0;
}

.features-icon {
    background-image: url("../images/ss_icon_sprite.png");
    background-repeat: no-repeat;
    display: block;
    height: 62px;
    margin: 0 auto 35px auto;
}

.features:nth-child(1) .features-icon {
    width: 62px;
}

.features:nth-child(2) .features-icon {
    width: 73px;
    background-position: -63px 0;
}

.features:nth-child(3) .features-icon {
    width: 41px;
    background-position: -138px 0;
}

.features:nth-child(4) .features-icon {
    width: 56px;
    background-position: -181px 0;
}

.features:nth-child(5) .features-icon {
    width: 72px;
    background-position: -239px 0;
}

.features:nth-child(6) .features-icon {
    width: 79px;
    background-position: -314px 0;
}

.title {
    color: #2d3033;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

.desc {
    color: #6c7279;
     margin-bottom: 0;
}

.project-wrap {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #ffffff;
}

.project {
    width: 24.9%;
    float: left;
    position: relative;
    margin-top: -6px;
    border-right: 1px solid #ffffff;
    border-top: 1px solid #ffffff;


}

.project:last-child,
.project:nth-child(4) {
    border-right: 0;
}

.project figcaption, .project p {
    position: absolute;
    width: 100%;
    color: #ffffff;
    display: none;
}

.project p {
    padding-top: 34.5%;
}

.project figcaption {
    top: 41.5%;
}

.overlay:hover::before {
    background-color: rgba(255, 69, 69, 0.9);
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 98%;

}

.project img {
    width: 100%;
}

.project:hover p, .project:hover figcaption {
    display: block;
}

.about {
    background: #3a3e64;
    padding: 50px 0;
}

.about figure {
    width: 33.3%;
    float: left;
    text-align: center;
}

.about figcaption {
    color: #ffffff;
    display: block;
    padding: 0 0 25px 0;
}

.location address {
    margin: 0 auto;
    max-width: 150px;
    font-style: normal;
}

.about-us p {
    margin: 0 auto;
    max-width: 375px;
}

.social img {
    margin: 0 2px;
}

.copyright {
    background-color: #313454;
    text-align: center;
    color: #808080;
    padding: 30px 0;
}

.author {
    color: #ffffff;
}

.heart {
    font-family: Webdings;
    color: #e84545;
}

.copyright p {
    margin: 5px 0;
}

.team {
    margin: 100px 0 0 0;
}

.team-person {
    width: 262px;
    margin-right: 30px;
    float: left;
}

.team-person img {
    max-width: 100%;
}

.team-person:last-child {
    margin-right: 0;
}

.person-name {
    color: #2d3033;
    font-size: 22px;
    margin: 30px 0 15px 0;
    display: block;
    
}

.person-position {
    color: #e84545;
    font-size: 13px;
    text-transform: uppercase;
}

.person-info {
    color: #6c7279;
    margin: 30px 0 55px 0;
    
}

.social-icon {
    background-image: url(../images/si_sprite.png);
    display: inline-block;
    width: 42px;
    height: 42px;
}

.social-icon:hover {
    opacity: 0.75;
}

.social-icon.fb {
    background-position: 130px 0;
}

.social-icon.tw {
    background-position: 42px 0;
}

.social-icon.in {
    background-position: 86px 0;
}

.social-icon.facebook {
    background-position: -2px 0;
}

.social-icon.twitter {
    background-position: -90px 0;
}

.social-icon.instagram {
    background-position: -46px 0;
}

.social-icon.fb:hover {
    background-image: url(../images/si_sprite_hover.png);
    background-position: 0 0;
}

.social-icon.tw:hover {
    background-image: url(../images/si_sprite_hover.png);
    background-position: -84px 0;
}

.social-icon.in:hover {
    background-image: url(../images/si_sprite_hover.png);
    background-position: -42px 0;
}

.text-center{
    text-align: center;
  }

  .col-md-8 {
    width: 50%;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;
  }

  .download h3 {
    margin-top: 0;
    font-size: 28px;
    color: #2d3033;
    font-weight: 300;
    margin-bottom: 10px;
    font-family: inherit;
    line-height: 1.1;
    text-transform: uppercase;
  }

  .download p {
    color: #2d3033;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 22.4px;
    margin: 0 0 10px;
  }

  .download #btn {
    margin-top: 30px;
    padding: 15px 40px;
    background-color: #e84545;
    color: #fff;
    font-size: 13px;
    font-weight: 600;
    border: 0;
    border-radius: 2px;
    display: inline-block;
    text-transform: uppercase;
  }

















